<div class="container">
    <div class="background-piece-1">
        <img src="/img/header-background-crop.png" alt="">
    </div>
    <div class="background-piece-2">
        <img src="/img/right-piece-circle-crop.png" alt="">
    </div>
    <div class="background-piece-3">
        <img src="/img/corner-piece-circle-crop.png" alt="">
    </div>
    <header>
        <img src="/img/login-logo.png" alt="" class="logo login-logo">
        <h1 class="header-title">sign in</h1>
    </header>

    <section>
        <form action="/users/login" method="POST" class="login-form">
            <input type="email" class="input email-input" name="email" placeholder="Email" required>
            <input type="password" class="input password-input" name="password" placeholder="Password" required>
            <input type="submit" class="btn login-btn" value="Log In" >
        </form>
        <div class="footer">
            <span>Don't have an account?</span>
            <h6><a href="register">Sign Up</a></h6>
        </div>
    </section>
</div>