<div class="container">
    <div class="background-piece-1">
        <img src="/img/header-background-crop.png" alt="">
    </div>
    <div class="background-piece-4">
        <img src="/img/right-piece-circle-rotate.png" alt="">
    </div>
    <header>
        <img src="/img/signup-logo-circle.png" alt="" class="logo register-logo">
        <h1 class="header-title">sign up</h1>
    </header>

    <section>
        <form action="/users/register" method="POST" class="register-form">
            <input type="text" class="input username-input" name="username" placeholder="Username" required>
            <input type="email" class="input email-input" name="email" placeholder="Email" required>
            <input type="password" class="input password-input" name="password" placeholder="Password" required>
            <input type="submit" class="btn register-btn" value="Submit" >
        </form>
        <div class="footer">
            <h6><a href="login">I am already a member</a></h6>
        </div>
    </section>
</div>