<div class="container">
    <div class="background-piece-5">
        <img src="/img/header-background-2.png" alt="">
    </div>
    <header class="welcome-header">
        <img src="/img/success-logo.png" alt="" class="logo success-logo">
        <h1 class="header-title">welcome</h1>
    </header>

    <section>
        <form action="/users/user/welcome" method="POST" class="logout-form">
            <input type="submit" class="btn logout-btn" value="Log Out" >
        </form>
    </section>
</div>